/* CSS for whole table interface:
 * table, players (with names, cards and stack),
 * dealer's cards on the center
 *
 * this scheme was tested on 1920x1080 resolution
 */

body{
  background-image: url(../components/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #111111;
}

.poker_table {
  background-image: url(../components/images/table.png);
  background-repeat: no-repeat;
  width: 800px;
  height: 500px;
}

.seat {
  width:200px;
  height:150px;
  position: absolute;
}

.board_chips {
  background-repeat: no-repeat;
  background-size: 100%;
  width:24px;
  height:25px;
  position: absolute;
}

#dealer_button {
  background-image: url(../components/images/dealerbutton.png);
  left: 75px;
  top: 30px;
}

#small_blind_button {
  background-image: url(../components/images/little_blind_button.png);
  left: 50px;
  top: 30px;
}

#big_blind_button {
  background-image: url(../components/images/big_blind_button.png);
  left: 50px;
  top: 30px;
}


.player_data {
  background-color: #000000;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
  -moz-box-shadow: 0px 0px 19px #000000;
  -webkit-box-shadow: 0px 0px 19px #000000;
  box-shadow: 0px 0px 19px #000000;
  /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0a0a0a', endColorstr = '#3d3d3d');
  /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
  /*Element must have a height (not auto)*/
  /*All filters must be placed together*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0a0a0a', endColorstr = '#3d3d3d')";
  /*Element must have a height (not auto)*/
  /*All filters must be placed together*/
  background-image: -moz-linear-gradient(top, #0a0a0a, #3d3d3d);
  background-image: -ms-linear-gradient(top, #0a0a0a, #3d3d3d);
  background-image: -o-linear-gradient(top, #0a0a0a, #3d3d3d);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#0a0a0a), to(#3d3d3d));
  background-image: -webkit-linear-gradient(top, #0a0a0a, #3d3d3d);
  background-image: linear-gradient(top, #0a0a0a, #3d3d3d);
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /*Use "background-clip: padding-box" when using rounded corners to avoid the gradient bleeding through the corners*/
  /*--IE9 WILL PLACE THE FILTER ON TOP OF THE ROUNDED CORNERS--*/
  opacity: 0.99;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 99);
  /*-ms-filter must come before filter*/
  filter: alpha(opacity = 99);
  /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
  /*All filters must be placed together*/

  width:120px;
  height:40px;
  font-size: 14px;
  text-align: center;
  top:50px;
  position:absolute;
}

.player_name {
  color: white;
  width:100%;
}

.chips {
}

.card {
  width:50px;
  height:73px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.player_cards {
  width:102px;
  height:73px;
  float:left;
  position:absolute;
  left:10px;
  top:0;
}

.player_cards_first {
  position:absolute;
  left:0;
  top:0;
  background-image: url(../components/images/playing-card-back.png);
  background-size: 100%;
}

.player_cards_second {
  position:absolute;
  left:50px;
  top:0;
  background-image: url(../components/images/playing-card-back.png);
  background-size: 100%;
}

.bet {
  font-size: 12px;
  color:white;
  position: absolute;
  left:0;
  top:0;
}

#seat1 {
  left:500px;
  top:10px;
}

#seat1 .bet {
  left:30px;
  top:125px;
}

#seat2 {
  left:650px;
  top:165px;
}

#seat2 .bet {
  left:-50px;
  top:75px;
}

#seat3 {
  left:500px;
  top:340px;
}

#seat3 .bet {
  left:30px;
  top:-20px;
}

#seat4 {
  left:150px;
  top:340px;
}
#seat4 .bet {
  left:80px;
  top:-20px;
}

#seat5 {
  left:0px;
  top:165px;
}

#seat5 .bet {
  left:155px;
  top:75px;
}

#seat6 {
  left:150px;
  top:10px;
}

#seat6 .bet {
  left:80px;
  top:125px;
}

#board {
  position: absolute;
  left:250px;
  top:200px;
}

#pot {
  position: absolute;
  left:325px;
  top:245px;
  font-size: 12px;
  color:white;
  text-align: center;
}

.boardcard {
  width:50px;
  height:73px;
  position: absolute;
  left:0;
  top:0;
  cursor: auto;
}

#flop1 {
}

#flop2 {
  left:52px;
}

#flop3 {
  left:104px;
}

#turn {
  left:156px;
}

#river {
  left:208px;
}

#action_options {
  width:500px;
  height:150px;
  position: absolute;
  left:200px;
  top:500px;
}

/*
.action_button {
  background-color: gray;
  position: absolute;
  color: white;
  border-radius: 2px;
  height:30px;
  padding: 10px 5px 0 5px;
  font-size: 20px;
  cursor: pointer;
}
*/

#game_timer {
  position: absolute;
  height:30px;
  font-size: 12px;
  text-align: center;
  width:110px;
  left:330px;
  top:400px;
}

.timer_normal {
  background-color: #25c219;
  -moz-border-radius: 37px;
  -webkit-border-radius: 37px;
  border-radius: 37px;
  /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
  -moz-box-shadow: 0px 0px 20px #000000;
  -webkit-box-shadow: 0px 0px 20px #000000;
  box-shadow: 0px 0px 20px #000000;
  /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
  opacity: 0.86;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 86);
  /*-ms-filter must come before filter*/
  filter: alpha(opacity = 86);
  /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
  /*All filters must be placed together*/
}


#chat_and_game_history {
  background-color: grey;
  opacity: 0.7;
  position:absolute;
  width:400px;
  height: 600px;
  border-color: black;
  border-style: groove;
  border-width: 5px;
  border-radius: 2px;
  font-size: 15px;
  left:900px;
  top:5px;
}

.type_panel {

}

.entry_table {
  margin: 20px;
}